---
Language:        Cpp
BasedOnStyle: Microsoft
AlignConsecutiveDeclarations: true
AlignOperands: true
BinPackParameters: false
BinPackArguments: false
AlwaysBreakTemplateDeclarations: Yes
Cpp11BracedListStyle: true
ColumnLimit: 100
...

