[submodule "ThirdParty/tbb"]
	path = ThirdParty/tbb
	url = https://github.com/wjakob/tbb
[submodule "ThirdParty/spdlog"]
	path = ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ThirdParty/volk"]
	path = ThirdParty/volk
	url = https://github.com/zeux/volk.git
