[submodule "ThirdParty/spdlog"]
	path = ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ThirdParty/volk"]
	path = ThirdParty/volk
	url = https://github.com/zeux/volk.git
[submodule "ThirdParty/EASTL"]
	path = ThirdParty/EASTL
	url = https://github.com/electronicarts/EASTL.git
[submodule "ThirdParty/Vulkan-Headers"]
	path = ThirdParty/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "ThirdParty/oneTBB"]
	path = ThirdParty/oneTBB
	url = https://github.com/oneapi-src/oneTBB.git
[submodule "ThirdParty/tiny_imageformat"]
	path = ThirdParty/tiny_imageformat
	url = https://github.com/DeanoC/tiny_imageformat.git
