[submodule "ThirdParty/tbb"]
	path = ThirdParty/tbb
	url = https://github.com/wjakob/tbb
[submodule "ThirdParty/spdlog"]
	path = ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ThirdParty/volk"]
	path = ThirdParty/volk
	url = https://github.com/zeux/volk.git
[submodule "ThirdParty/EASTL"]
	path = ThirdParty/EASTL
	url = https://github.com/electronicarts/EASTL.git
[submodule "ThirdParty/Vulkan-Headers"]
	path = ThirdParty/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
