# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ignore directory of this project
build/
cmake-build-debug/
# ignore editor setting and language server config 
*.vscode
.clangd/
compile_commands.json
.vs/
out/
.ccls-cache/
.idea/
Folder.DotSettings
CMakeSettings.json
